@import './base/reset';

@import './utill/varibale';


body{
    background: #ccc;
}


header{
    background: #000;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
}


main{
    padding: 10px 10px 10px 160px;
}

.box1{
    background: #fff;
    height: 250px;
    margin-bottom: 10px;
}

.box2{
    display: flex;
    gap: 10px;
    height: 100px;
    margin-bottom: 10px;
    div{
        background: #fff;
        flex: 1;
    }
}

.box3, .box4, .box7{
    height: 100px;
    background: #fff;
    margin-bottom: 10px;
}

.box5{
    height: 100px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    div{
        background: #fff;
        width: calc(80% - 5px);
    }
    :last-child{
        background: #fff;
        width: calc(20% - 5px);
    }
}

.box6{
    height: 100px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    div{
        background: #fff;
        width: calc(30% - 5px);
    }
    :last-child{
        background: #fff;
        width: calc(70% - 5px);
    }
}